.wrapper{
  height: auto;
  text-align: center;
  background-color: rgba(232,233,229,0.712);
  overflow: hidden;
}

.aboutHeading {
    padding-top: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    font-size : 3rem;
    margin-bottom: 20px;
    font-family: 'Raleway-bold', sans-serif;
    color: #615858;
}

.projectBlock {
    margin-top: 40px;
    width: 100%;
}

.projectCont {
    text-align: center;
    height: 200px;
    margin-bottom: 120px;
    padding: 30px 0;
}

.projectCont:hover .middle {
    opacity: 1;
}

.projectCont img {
    height: auto;
    width: 90%;
    padding: 20px 0;
    margin-bottom: 50px;
    overflow-y: hidden;
    opacity: 1;
}

.projectCont img:hover {
    width: 92%;
    height: auto;
    overflow: hidden;
    opacity: 0.7;
}

.middle {
    transform: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text {
    background-color: #fa6f6f;
    color: white;
    font-size: 15px;
    padding: 16px;
    border-radius: 25px;
    text-align: center;
}
